h1
{
color:red;
text-align:center;

}

h2
{
color:red;
text-align:center;

}

h3
{
color:blue;
text-align:center;

}

table{

border-spacing:5px;
width:100%;

}



table ,th, td

{
border:1px solid black;

border-collapse:collapse;

}

th,td {


padding:15px;
}

th{

text-align:left;


}




 

div
{
  text-align:center;

}










